{% extends "index.html" %}

{% block title %}Attendance Details{% endblock %}

{% block heading %}Attendance Details{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for attendance in attendance_records %}
            <tr>
                <td>{{ attendance.employee.id }}</td>
                <td>{{ attendance.employee.first_name }} {{ attendance.employee.last_name }}</td>
                <td>{{ attendance.date }}</td>
                <td>{{ attendance.present|yesno:"Present,Absent" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No attendance records available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
